@import '../../styles/theme/index.css';

/* dropdown div */
.dropdown-container {
  border: var(--dropdown-border, none);
  border-radius: var(--dropdown-border-radius, var(--round-m));
  display: var(--dropdown-display, flex);
  flex-wrap: var(--dropdown-flex-wrap, wrap);
  margin: var(--dropdown-margin, 0);
  padding: var(--dropdown-padding, 0);
  position: relative;
  width: var(--dropdown-width, 100%);
}

.dropdown-list-group-container {
  border: var(--dropdown-group-div-border, 1px solid var(--primary-color-200));
  box-sizing: border-box;
  padding: var(--dropdown-group-div-padding, 20px);
  width: var(--dropdown-group-div-width, var(--dropdown-width, 100%));
  position: var(--dropdown-group-div-position);
  margin: var(--dropdown-group-div-margin);
  border-radius: var(--dropdown-group-div-border-radius);
  background-color: var(--dropdown-group-div-background-color);
  z-index: var(--dropdown-group-div-z-index, initial);
}

.dropdown-list-groups-wrapper {
  height: var(--dropdown-groups-wrapper-height);
  overflow-y: var(--dropdown-groups-wrapper-overflow-y);
}

.dropdown-input {
  --input-background-color: var(--structure-color-100);
  --input-background-color-active: var(--structure-color-300);
  --input-border: 1px solid var(--structure-color-300);
  --input-border-hover: 1px solid var(--primary-color-300);
  --input-border-focus: 1px solid var(--primary-color-500);
  --input-border-active: 1px solid var(--primary-color-500);
  --input-border-positive: 1px solid var(--primary-color-300);
  --input-border-radius: var(--round-m);
  --input-color: var(--structure-color-800);
  --input-color-hover: var(--primary-color-600);
  --input-color-active: var(--primary-color-600);
  --input-font-size: var(--paragraph-l);
  --input-font-weight: var(--paragraph-font-weight-normal);
  --input-height: 3.125rem;
  --input-line-height: var(--paragraph-l-line-height);
  --input-padding: 10px;
  --input-placeholder-color: var(--primary-color-600);
  --input-placeholder-font-size: 14px;
  --input-placeholder-font-weight: var(--paragraph-font-weight-normal);
  --input-message-height: 0;
  --input-width: var(--dropdown-width, 100%);
}

.dropdown-input:not(:only-child) {
  --input-border-radius: var(--round-m) var(--round-m) 0 0;
}

.dropdown-list {
  --list-background-color: var(--structure-color-white);
  --list-border: 1px solid var(--primary-color-200);
  --list-border-radius: 0 0 var(--round-m) var(--round-m);
  --list-box-shadow: none;
  --list-height: auto;
  --list-margin: 0;
  --list-min-width: calc(100% - 0.125rem);
  --list-overflow: initial;
  --list-width: var(--dropdown-width, 100%);
  --list-item-background-color: var(--structure-color-white);
  --list-item-background-color-hover: var(--structure-color-300);
  --list-item-background-color-active: var(--structure-color-300);
  --list-item-border-bottom-hover: 1px solid var(--structure-color-900);
  --list-item-border-left-hover: none;
  --list-item-border-right-hover: none;
  --list-item-border-top-hover: none;
  --list-item-border-bottom: 1px solid var(--structure-color-200);
  --list-item-border-left: none;
  --list-item-border-top: none;
  --list-item-border-right: none;
  --list-item-box-shadow: none;
  --list-item-color: var(--structure-color-900);
  --list-item-color-active: var(--structure-color-900);
  --list-item-cursor: pointer;
  --list-item-font-size: 0.75rem;
  --list-item-height: auto;
  --list-item-justify-content: end;
  --list-item-margin: 0;
  --list-item-min-height: 3.125rem;
  --list-item-padding: 1rem 0.5rem;
  --list-position: absolute;
  z-index: 999;
}

.dropdown-list-positioned-top {
  --list-bottom: var(--dropdown-list-bottom, 55px);
}

.dropdown-list-positioned-bottom ul {
  height: fit-content;
  top: var(--dropdown-list-top, 55px);
}

.dropdown-list-positioned-bottom,
.dropdown-list-positioned-top {
  right: var(--dropdown-list-right, auto);
}

.dropdown-button {
  --button-background-color: var(--structure-color-100);
  --button-background-color-active: var(--structure-color-300);
  --button-background-color-hover: var(--structure-color-100);
  --button-border-hover: 1px solid var(--structure-color-400);
  --button-color: var(--structure-color-800);
  --button-color-hover: var(--primary-color-600);
  --button-color-active: var(--primary-color-600);
  --button-justify-content: space-between;
  --button-padding: 5px 10px;
  --button-width: var(--dropdown-width, 100%);
  --button-content-overflow: var(--dropdown-selected-title-overflow);
  --button-content-text-overflow: var(--dropdown-selected-title-text-overflow);
  --button-content-white-space: var(--dropdown-selected-title-white-space);
}

.dropdown-button:not(:only-child) {
  --button-border-radius: var(--round-m) var(--round-m) 0 0;
}

.dropdown-prepend-icon {
  color: var(--dropdown-icon-color, var(--structure-color-600));
  fill: var(--dropdown-icon-fill, var(--structure-color-white));
}

.dropdown-input:hover .dropdown-prepend-icon {
  color: var(--dropdown-prepend-icon-color, var(--primary-color-600));
  fill: var(--dropdown-prepend-icon-fill, var(--structure-color-white));
}

.dropdown-append-icon {
  fill: var(--dropdown-append-icon, var(--structure-color-600));
}

.dropdown-input:hover .dropdown-append-icon {
  fill: var(--dropdown-append-icon-hover, var(--primary-color-600));
}

.dropdown-button:hover .dropdown-append-icon {
  fill: var(--dropdown-append-icon-hover, var(--primary-color-600));
}

.select-all-container {
  align-items: center;
  background-color: var(
    --dropdown-select-all-background-color,
    var(--list-background-color, var(--structure-color-100))
  );
  border-top: var(--dropdown-select-all-border-top, none);
  border-right: var(--dropdown-select-all-border-right, none);
  border-bottom: var(
    --dropdown-select-all-border-bottom,
    var(--list-border, 1px solid transparent)
  );
  border-left: var(--dropdown-select-all-border-left, none);
  box-sizing: border-box;
  color: var(--dropdown-select-all-color, var(--primary-color-500));
  cursor: default;
  display: var(--dropdown-select-all-display, flex);
  flex-wrap: var(--dropdown-select-all-flex-wrap, nowrap);
  justify-content: var(--dropdown-select-all-justify-content, space-around);
  margin: var(--dropdown-select-all-margin, 0);
  padding: var(--dropdown-select-all-padding, 10px 0);
  width: var(--dropdown-select-all-width, var(--dropdown-width, 100%));
}

.select-all-link {
  cursor: pointer;
  font-family: var(--dropdown-select-all-font-family, 'Inter');
  font-size: var(--dropdown-select-all-font-size, 12px);
  font-style: var(--dropdown-select-all-font-style, normal);
  font-weight: var(--dropdown-select-all-font-weight, 400);
}

.select-all-link:hover {
  color: var(
    --dropdown-select-all-color-hover,
    var(--dropdown-select-all-color, var(--primary-color-500))
  );
  font-style: var(
    --dropdown-select-all-font-style-hover,
    var(--dropdown-select-all-font-style, normal)
  );
  font-weight: var(
    --dropdown-select-all-font-weight-hover,
    var(--dropdown-select-all-font-weight, 400)
  );
}

.dropdown-list-group {
  --list-position: relative;
  --list-width: calc(var(--dropdown-width) - 10%);
  --list-border: none;
  --list-border-active: none;
  --list-border-focus: none;
  --list-border-radius: 0;
  --list-item-border-bottom: 1px solid var(--structure-color-200);
  --list-item-border-left: 1px solid var(--structure-color-200);
  --list-item-border-top: 1px solid var(--structure-color-200);
  --list-item-border-right: 1px solid var(--structure-color-200);
  --list-item-border-bottom-hover: 1px solid var(--structure-color-900);
  --list-item-border-left-hover: 1px solid var(--structure-color-900);
  --list-item-border-right-hover: 1px solid var(--structure-color-900);
  --list-item-border-top-hover: 1px solid var(--structure-color-900);
}

.group-title {
  color: var(--dropdown-group-color, var(--primary-color-600));
  font-family: var(--dropdown-group-font-family, 'Inter');
  font-size: var(--dropdown-group-font-size, 18px);
  font-style: var(--dropdown-group-font-style, normal);
  font-weight: var(--dropdown-group-font-weight, 400);
  margin: var(--dropdown-group-margin, 5px);
  padding: var(--dropdown-group-padding, 10px 0);
}

.dropdown--message {
  color: var(--dropdown-message-color, var(--structure-color-700));
  height: var(--dropdown-message-height, var(--height-xs));
  font-family: var(--dropdown-message-font-family, 'Inter');
  font-size: var(--dropdown-message-font-size, var(--paragraph-m));
  font-weight: var(--dropdown-message-font-weight, var(--paragraph-font-weight-normal));
  line-height: var(--dropdown-message-line-height, var(--paragraph-m-line-height));
  margin: var(--dropdown-message-margin, 0);
  width: 100%;
}

.dropdown--message-valid {
  color: var(--dropdown-message-color-positive, var(--success-color));
}

.dropdown--message-invalid {
  color: var(--dropdown-message-color-negative, var(--error-color));
}

.dropdown--message:empty {
  height: var(--dropdown-message-height-empty, 0);
}

.collapsible-group-wrapper {
  margin-bottom: 16px;
}

.collapsible-group-button {
  --button-display: flex;
  --button-justify-content: space-between;
  --button-margin: 0 0 16px;
  --button-width: 100%;
}

.collapsible-button-icon-wrapper {
  align-items: center;
  display: flex;
}
