@import "../../styles/theme/index.css";

:root {
  /* dropdown div attributes */
  --dropdown-background-color: var(--structure-color-100);
  --dropdown-border-radius: var(--round-m);
  --dropdown-min-width: var(--spacing-horizontal-xxxl);
  --dropdown-border: 1px solid transparent;

  --dropdown-border-active: 1px solid var(--structure-color-200);
  --dropdown-border-hover: 1px solid var(--structure-color-400);

  --dropdown-large-height: var(--height-l);
  --dropdown-large-font-size: var(--paragraph-l);
  --dropdown-large-font-weight: var(--paragraph-font-weight-bold);
  --dropdown-large-line-height: var(--paragraph-l-line-height);
  --dropdown-large-border-radius: var(--round-m);

  --dropdown-medium-height: var(--height-m);
  --dropdown-medium-font-size: var(--paragraph-m);
  --dropdown-medium-font-weight: var(--paragraph-font-weight-bold);
  --dropdown-medium-line-height: var(--paragraph-m-line-height);
  --dropdown-medium-border-radius: var(--round-m);

  --dropdown-list-item-large-height: var(--height-l);
  --dropdown-list-item-medium-height: var(--height-m);

  --dropdown-label-font-size: var(--paragraph-l);
  --dropdown-label-font-weight: var(--paragraph-font-weight-normal);
  --dropdown-label-line-height: var(--paragraph-l-line-height);
  --dropdown-label-color: var(--structure-color-800);

  --dropdown-span-color: var(--structure-color-900);

  /* dropdown list */
  --dropdown-list-style-type: none;
  --dropdown-list-margin: 0;

  --dropdown-list-focus-outline: var(--structure-color-400) auto 1px;

  --dropdown-list-item-border: 2px solid var(--structure-color-100);

  --list-item-border-hover: 1px solid var(--structure-color-600);
  --list-item-border-selected: 1px solid var(--success-color);

  /* dropdown button attributes */
  --dropdown-button-blackground-color: var(--structure-color-200);
  --dropdown-button-blackground-color-pressed: var(--structure-color-300);
  --dropdown-button-color: var(--primary-color-600);

  --dropdown-button-border-radius: var(--round-s);
  --dropdown-button-border: none;
  --dropdown-button-padding: var(--spacing-horizontal-xs);

  --dropdown-button-span-text-align: left;
  --dropdown-button-span-padding: var(--round-l);

  /* dropdown icon attributes */
  --dropdown-icon-engine-text-align: left;
  --dropdown-icon-arrow-text-align: right;
  --dropdown-icon-filter: opacity(0.5);
}

/* dropdown div */
.dropdown {
  background: var(--dropdown-background-color);
  border: var(--dropdown-border);
  border-radius: var(--dropdown-border-radius);
  min-width: var(--dropdown-min-width);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dropdown--medium {
  height: var(--dropdown-medium-height);
  font-size: var(--dropdown-medium-font-size);
  font-weight: var(--dropdown-medium-font-weight);
  line-height: var(--dropdown-medium-line-height);
  border-radius: var(--dropdown-medium-border-radius);
}

.dropdown--large {
  height: var(--dropdown-large-height);
  font-size: var(--dropdown-large-font-size);
  font-weight: var(--dropdown-large-font-weight);
  line-height: var(--dropdown-large-line-height);
  border-radius: var(--dropdown-large-border-radius);
}

.dropdown:active,
.dropdown:focus {
  border: var(--dropdown-border-active, none);
}

.dropdown:hover {
  border: var(--dropdown-border-hover, none);
}

.dropdown-list {
  list-style-type: var(--dropdown-list-style-type);
  width: 100%;
  height: 100%;
  margin: var(--dropdown-list-margin);
  padding-inline-start: var(--dropdown-list-padding-inline-start);
}

.dropdown-list:focus {
  outline: var(--dropdown-list-focus-outline);
}

.dropdown-list-item {
  border: var(--dropdown-list-item-border);
}

.dropdown-label {
  font-size: var(--dropdown-label-font-size);
  font-weight: var(--dropdown-label-font-weight);
  line-height: var(--dropdown-label-line-height);
  color: var(--dropdown-label-color);
  display: flex;
  width: 100%;
}


.dropdown-button-span--medium {
  font-size: var(--dropdown-medium-font-size);
  font-weight: var(--dropdown-medium-font-weight);
  line-height: var(--dropdown-medium-line-height);
  border-radius: var(--dropdown-medium-border-radius);
}

.dropdown-button-span--large {
  font-size: var(--dropdown-large-font-size);
  font-weight: var(--dropdown-large-font-weight);
  line-height: var(--dropdown-large-line-height);
  border-radius: var(--dropdown-large-border-radius);
}

/* button inside dropdown div*/
.dropdown-button {
  border: var(--dropdown-button-border);
  background: var(--dropdown-input-background-color);
  border-radius: var(--dropdown-button-border-radius);
  padding: var(--dropdown-button-padding);
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.dropdown-button-span {
  color: var(--dropdown-span-color);
  padding: var(--dropdown-button-span-padding);
  text-align: var(--dropdown-button-span-text-align);
  width: 100%;
}

.dropdown-icon {
  filter: var(--dropdown-icon-filter);
}

.dropdown-icon-gear {
  text-align: var(--dropdown-icon-engine-text-align);
}

.dropdown-icon-arrow {
  text-align: var(--dropdown-icon-arrow-text-align);
}

.dropdown-button:hover > .dropdown-icon {
  filter: none;
}

.dropdown-button-pressed {
  filter: none;
  background-color: var(--dropdown-button-blackground-color-pressed);
}

.dropdown-button-pressed > .dropdown-button-span {
  color: var(--dropdown-button-color);
}

.dropdown-list-item--visit,
.dropdown-list-item--selected:hover {
  border-bottom: var(--list-item-border-hover);
}

.dropdown-list-item--selected {
  border-bottom: var(--list-item-border-selected);
}

.dropdown-list-item--large {
  height: var(--dropdown-list-item-large-height);
}

.dropdown-list-item--medium {
  height: var(--dropdown-list-item-medium-height);
}

.dropdown-list--medium {
  height: var(--dropdown-list-item-medium-height);
}

.dropdown-list--large {
  height: var(--dropdown-list-item-large-height);
}

.dropdown-list--hidden {
  display: none;
}
