.tag-container {
  align-items: var(--tag-align-items, normal);
  background-color: var(--tag-background-color, var(--structure-color-100));
  border-radius: var(--tag-border-radius, 4px);
  color: var(--tag-color, var(--structure-color-600));
  display: var(--tag-display, block);
  font-family: var(--tag-font-family);
  font-size: var(--tag-font-size, 16px);
  font-weight: var(--tag-font-weight, 400);
  justify-content: var(--tag-justify-content, normal);
  margin: var(--tag-margin, auto);
  padding: var(--tag-padding, 4px);
  text-transform: var(--tag-text-transform, normal);
  width: var(--tag-width, fit-content);
}
