@import '~@codelitt/ay-css-library/src/components/brand/colors';

.login-container {
  width: 22rem;
  margin: 0 auto;
}

.logo-container {
  margin: 0;
  margin-bottom: 5rem;
  padding-top: 2rem;
  text-align: center;
}

.login-form {
  .login-input {
    margin-bottom: 1rem;
    width: 100%;
  }

  .sign-me-in-button {
    margin-top: 1rem;
    width: 100%;
  }
}