@import '../../../styles/theme/index.css';

:root {
  /*Default toast properties*/
  --toast-background-color: var(--structure-color-100);
  --toast-box-shadow: 0px 8px 8px rgba(137, 136, 147, 0.32);
  --toast-border: 1px solid var(--structure-color-500);
  --toast-padding: 0;
  --toast-cursor: default;
  --toast-position: absolute;
  --toast-margin: 0;

  /*Default toast hidden animation */
  --toast-hidden-animation: FadeAnimation 0.5s ease-in 0.3s forwards;

  /*Default toast events properties*/
  --toast-background-color-hover: var(--toast-background-color);
  --toast-background-color-active: var(--toast-background-color);
  --toast-background-color-focus: var(--toast-background-color);
  --toast-border-hover: var(--toast-border);
  --toast-border-active: var(--toast-border);
  --toast-border-focus: var(--toast-border);

  /*Default toast large properties*/
  --toast-large-height: 56px;
  --toast-large-border-radius: var(--round-l);
  --toast-large-width: 345px;
  --toast-large-padding: var(--spacing-vertical-s) var(--spacing-horizontal-m);

  /*Default toast body properties */
  --toast-body-width: 80%;
  --toast-body-height: 100%;
  --toast-body-padding: 0;
  --toast-body-display: flex;
  --toast-body-flex-direction: column;
  --toast-body-align-items: flex-start;
  --toast-body-justify-content: center;
  --toast-body-margin: 0;

  /*Default toast body message properties*/
  --toast-message-color: var(--structure-color-800);
  --toast-message-font-family: 'Inter';
  --toast-message-font-style: normal;

  /* Default toast body message large properties */
  --toast-message-large-font-size: var(--paragraph-l);
  --toast-message-large-font-weight: var(--paragraph-font-weight-normal);
  --toast-message-large-height: var(--heading-xs);
  --toast-message-large-line-height: var(--paragraph-l-line-height);

  /*Default toast body title properties*/
  --toast-title-color: var(--structure-color-800);
  --toast-title-font-family: 'Inter';
  --toast-title-font-style: normal;

  /* Default toast body title large properties */
  --toast-title-large-font-size: var(--paragraph-xxxl);
  --toast-title-large-font-weight: var(--paragraph-font-weight-bold);
  --toast-title-large-height: var(--heading-l);
  --toast-title-large-line-height: var(--paragraph-xxxl-line-height);
  --toast-title-large-margin: 0 0 8px;

  /*Default toast button icon */
  --toast-button-icon-fill: var(--primary-color-600);

  /*Default toast button properties*/
  --toast-button-border: none;
  --toast-button-background-color: transparent;
  --toast-button-border-radius: 0;
  --toast-button-padding: 0;
  --toast-button-margin: 0;

  /*Default toast button events properties*/
  --toast-button-blackground-color-hover: var(--toast-button-background-color);
  --toast-button-blackground-color-active: var(--toast-button-background-color);

  /*Default toast close icon properties*/
  --toast-button-icon-fill-hover: var(--toast-button-icon-fill);
  --toast-button-icon-fill-active: var(--toast-button-icon-fill);
}

@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.toast {
  align-items: center;
  background-color: var(--toast-background-color);
  border: var(--toast-border);
  box-shadow: var(--toast-box-shadow);
  cursor: var(--toast-cursor);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: var(--toast-margin);
  position: var(--toast-position);
  width: var(--toast-width);
  z-index: 999;
}

.toast:hover {
  background: var(--toast-background-color-hover);
  border: var(--toast-border-hover);
}

.toast:active {
  background: var(--toast-background-color-active);
  border: var(--toast-border-active);
}

.toast:focus {
  background-color: var(--toast-background-color-focus);
  border: var(--toast-border-focus);
}

.toast.toast--large {
  border-radius: var(--toast-large-border-radius);
  height: var(--toast-large-height);
  padding: var(--toast-large-padding);
  width: var(--toast-large-width);
}

.toast-body {
  align-items: var(--toast-body-align-items);
  display: var(--toast-body-display);
  flex-direction: var(--toast-body-flex-direction);
  height: var(--toast-body-height);
  justify-content: var(--toast-body-justify-content);
  margin: var(--toast-body-margin);
  padding: var(--toast-body-padding);
  width: var(--toast-body-width);
}

.toast-body-title {
  align-items: center;
  color: var(--toast-title-color);
  display: flex;
  font-family: var(--toast-title-font-family);
  font-style: var(--toast-title-font-style);
}

.toast-body-title--large {
  font-size: var(--toast-title-large-font-size);
  font-weight: var(--toast-title-large-font-weight);
  height: var(--toast-title-large-height);
  line-height: var(--toast-title-large-line-height);
  margin: var(--toast-title-large-margin);
}

.toast-body-message {
  align-items: center;
  color: var(--toast-message-color);
  display: flex;
  font-family: var(--toast-message-font-family);
  font-style: var(--toast-message-font-style);
}

.toast-body-message--large {
  font-size: var(--toast-message-large-font-size);
  font-weight: var(--toast-message-large-font-weight);
  height: var(--toast-message-large-height);
  line-height: var(--toast-message-large-line-height);
}

.toast-button {
  align-items: center;
  background-color: var(--toast-button-blackground-color);
  border: var(--toast-button-border);
  border-radius: var(--toast-button-border-radius);
  cursor: pointer;
  display: inline-flex;
  margin: var(--toast-button-margin);
  padding: var(--toast-button-padding);
}

.toast-button-icon {
  fill: var(--toast-button-icon-fill);
}

.toast-button:hover {
  background-color: var(--toast-button-blackground-color-hover);
}

.toast-button:active {
  background-color: var(--toast-button-blackground-color-active);
}

.toast-button:hover > .toast-button-icon {
  fill: var(--toast-button-icon-fill-hover);
}
.toast-button:active > .toast-button-icon {
  fill: var(--toast-button-icon-fill-active);
}

.toast-hidden {
  animation: var(--toast-hidden-animation);
  overflow: hidden;
}
