@import '~@codelitt/ay-css-library/src/components/brand/fonts';
@import '~@codelitt/ay-css-library/src/components/brand/colors';

.input-container {
  display: flex;
  flex-direction: column;
  color: $ay-grey-64-color;
  font-family: $font-stack;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5rem 1rem;

  .label {
    color: $ay-grey-64-color;
  }
}

.input-status-message {
  font-size: 0.75rem;
}

.input-success-message-color {
  color: $ay-success-color;
}

.input-error-message-color {
  color: $ay-error-color;
}

