@import '../../styles/theme/index.css';

:root {
  --input-background-color: var(--structure-color-100);
  --input-prepend-background-color: var(--structure-color-100);

  --input-border: 1px solid var(--structure-color-300);
  --input-border-active: 1px solid var(--primary-color-500);
  --input-border-focus: 2px solid var(--primary-color-500);
  --input-border-hover: 1px solid var(--primary-color-300);
  --input-border-negative: 1px solid var(--error-color);
  --input-border-positive: 1px solid var(--success-color);
}

.container {
  display: var(--input-display, flex);
  flex-direction: var(--input-flex-directon, column);
  height: 100%;
}

.input {
  border: var(--input-border);
  background-color: var(--input-background-color);
  box-sizing: border-box;
  color: var(--input-color, var(--structure-color-900));
  width: 100%;
}

.input:not([value='']) {
  border: var(--input-border-hover, none);
}

.input:not([value='']) + .input--prepend.input--prepend-with-separator {
  background-color: var(--input-prepend-background-color-hover, var(--input-prepend-background-color));
  border: var(--input-border-hover, none);
  border-right: none;
}

.input:hover {
  border: var(--input-border-hover, var(--input-border));
}

.input:hover + .input--prepend.input--prepend-with-separator {
  background-color: var(--input-prepend-background-color-hover, var(--input-prepend-background-color));
  border: var(--input-border-hover, var(--input-border));
  border-right: none;
}

.input:active {
  border: var(--input-border-active, var(--input-border));
}

.input:active,
.input:focus {
  outline: none;
}

.input:focus {
  border: var(--input-border-focus, var(--input-border));
}

.input:focus + .input--prepend.input--prepend-with-separator {
  background-color: var(--input-prepend-background-color-focus, var(--input-prepend-background-color));
  border: var(--input-border-focus, var(--input-border));
  border-right: none;
  height: var(--input-prepend-height-focus, 44px);
}

.input::placeholder {
  color: var(--input-placeholder-color, var(--structure-color-700));
  font-size: var(--input-placeholder-font-size, var(--paragraph-xl));
  font-weight: var(--input-placeholder-font-weight, var(--paragraph-font-weight-normal));
}

.input.input--medium {
  border-radius: var(--input-border-radius, var(--round-m));
  font-size: var(--input-font-size, var(--paragraph-m));
  font-weight: var(--input-font-weight, var(--paragraph-font-weight-bold));
  height: var(--input-height, var(--height-m));
  line-height: var(--input-line-height, var(--paragraph-m-line-height));
  padding: var(--input-padding, 11px 16px);
}

.input.input--large {
  border-radius: var(--input-border-radius, var(--round-m));
  font-size: var(--input-font-size, var(--paragraph-xl));
  font-weight: var(--input-font-weight, var(--paragraph-font-weight-bold));
  height: var(--input-height, var(--height-l));
  line-height: var(--input-line-height, var(--paragraph-xl-line-height));
  padding: var(--input-padding, 12px 16px);
}

.input--label {
  font-size: var(--input-label-font-size, var(--paragraph-l));
  font-weight: var(--input-label-font-weight, var(--paragraph-font-weight-normal));
  line-height: var(--input-label-line-height, var(--paragraph-l-line-height));
  color: var(--input-label-color, var(--structure-color-800));
  display: flex;
  width: 100%;
}

.input--description {
  color: var(--input-description-color, var(--structure-color-700));
  height: var(--input-description-height, var(--height-xs));
  font-size: var(--input-description-font-size, var(--paragraph-m));
  font-weight: var(--input-description-font-weight, var(--paragraph-font-weight-normal));
  line-height: var(--input-description-line-height, var(--paragraph-m-line-height));
  width: 100%;
}

.input--message {
  color: var(--input-message-color, var(--structure-color-700));
  height: var(--input-message-height, var(--height-xs));
  font-size: var(--input-message-font-size, var(--paragraph-m));
  font-weight: var(--input-message-font-weight, var(--paragraph-font-weight-normal));
  line-height: var(--input-message-line-height, var(--paragraph-m-line-height));
  width: 100%;
}

.input--message-valid {
  color: var(--input-message-color-positive, var(--success-color));
}

.input--message-invalid {
  color: var(--input-message-color-negative, var(--error-color));
}

.input.input--valid {
  border: var(--input-border-positive);
}

.input.input--valid + .input--prepend.input--prepend-with-separator {
  background-color: var(--input-prepend-background-color-positive, var(--input-prepend-background-color));
  border: var(--input-border-positive);
  border-right: none;
}

.input.input--invalid {
  border: var(--input-border-negative);
}

.input.input--invalid + .input--prepend.input--prepend-with-separator {
  background-color: var(--input-prepend-background-color-negative, var(--input-prepend-background-color));
  border: var(--input-border-negative);
  border-right: none;
}

.input--container {
  align-items: center;
  display: flex;
  flex-flow: row-reverse;
}

.input--prepend {
  display: flex;
  left: var(--input-prepend-left, 24px);
  justify-content: center;
  position: relative;
  width: 0;
}

.input--prepend.input--prepend-with-separator {
  align-items: center;
  background-color: var(--input-prepend-background-color, var(--input-background-color));
  border: var(--input-border);
  border-radius: var(--input-border-radius, var(--round-m)) 0 0 var(--input-border-radius, var(--round-m));
  border-right: none;
  height: var(--input-prepend-height, 46px);
  left: 0;
  padding: var(--input-prepend-padding, 0 18px);
  width: auto;
}

.input.input--large.input-with-prepend {
  padding-left: var(--input-prepend-padding-left, 44px);
}

.input.input-with-prepend-separator {
  border-radius: 0 var(--input-border-radius, var(--round-m)) var(--input-border-radius, var(--round-m)) 0;
}

.input--action-icon-container {
  background-color: var(--input-action-icon-background-color, transparent);
  cursor: var(--input-action-icon-cursor, pointer);
  margin: var(--input-action-icon-margin, 0 20px 0 0);
  position: absolute;
}

.input--action-icon {
  color: var(--input-action-icon-color, initial);
}

.input--action-icon-container:hover > .input--action-icon {
  color: var(--input-action-icon-color-hover, initial);
}

.input--action-icon-container:active > .input--action-icon {
  color: var(--input-action-icon-color-active, initial);
}
