@import '../../../styles/theme/index.css';

.checkbox-container {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  padding-left: 25px;
  position: relative;
}

/* Hide the browser's default checkbox */
.checkbox-container .list-item-checkbox {
  cursor: pointer;
  height: 0;
  position: absolute;
  opacity: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-check {
  background-color: var(--list-item-checkbox-background-color, var(---structure-color-white));
  border: var(--list-item-checkbox-border, 1px solid var(--structure-color-500));
  border-radius: var(--list-item-checkbox-border-radius, var(--round-m));
  left: 0;
  position: absolute;
  top: 0;
}

.list-item-checkbox--large ~ .checkbox-check {
  height: var(--list-item-checkbox-height, var(--heading-s));
  top: -8px;
  width: var(--list-item-checkbox-width, var(--heading-s));
}

.list-item-checkbox--medium ~ .checkbox-check {
  height: var(--list-item-checkbox-height, var(--heading-xs));
  top: -5px;
  width: var(--list-item-checkbox-width, var(--heading-xs));
}

/* When the checkbox is checked, add a green background */
.checkbox-container .list-item-checkbox:checked ~ .checkbox-check {
  background-color: var(--list-item-checkbox-background-color-checked, var(--success-color));
  border: var(--list-item-checkbox-border-checked, 1px solid transparent);
}

/* Create the checkbox-check/indicator (hidden when not checked) */
.checkbox-check:after {
  content: '';
  display: none;
  position: absolute;
}

/* Show the checkbox-check when checked */
.checkbox-container .list-item-checkbox:checked ~ .checkbox-check:after {
  display: block;
}

/* Style the checkbox-check/indicator */
.checkbox-container .checkbox-check:after {
  border: solid var(--list-item-checkbox-marker-color, white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Style the indicator (dot/circle) large size */
.checkbox-container .list-item-checkbox--large ~ .checkbox-check:after {
  height: var(--list-item-checkbox-marker-height, 12px);
  left: var(--list-item-checkbox-marker-left, 8px);
  top: var(--list-item-checkbox-marker-top, 3px);
  width: var(--list-item-checkbox-marker-width, 6px);
}

/* Style the indicator (dot/circle) medium size */
.checkbox-container .list-item-checkbox--medium ~ .checkbox-check:after {
  height: var(--list-item-checkbox-marker-height, 10px);
  left: var(--list-item-checkbox-marker-left, 7px);
  top: var(--list-item-checkbox-marker-top, 2px);
  width: var(--list-item-checkbox-marker-width, 4px);
}

.checkbox-direction {
  --list-item-flex-direction: row-reverse;
}
