@import '../../styles/theme/index.css';

:root {
  --address-search-input-border: none;

  --address-search-button-background-color: transparent;
  --address-search-button-height: 100%;
  --address-search-button-color: var(--structure-color-900);
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
  width: 18.75rem;
}

.address-search-input {
  width: 100%;
  --input-border: var(--address-search-input-border);
}

.suggestion-list {
  width: 100%;
}
.btn-clear {
  --button-neutral-background-color: var(--address-search-button-background-color);
  --button-neutral-background-color-active: var(--address-search-button-background-color);
  --button-neutral-background-color-hover: var(--address-search-button-background-color);
  --button-neutral-medium-height: var(--address-search-button-height);
  --button-neutral-color: var(--address-search-button-color);
  --button-neutral-color-hover: var(--address-search-button-color);
  --button-neutral-color-active: var(--address-search-button-color);
  opacity: 1;
  /* right: 0.1rem; */
  /* position: absolute; */
  width: 10%;
}

.btn-clear:focus {
  outline: none;
}

.btn-clear:hover {
  cursor: pointer;
  opacity: 0.8;
}

.clear-icon {
  fill: black;
}

#search-address .suggestion-list-hover {
  border-color: var(--primary-color-200) !important;
}

.input .suggestion-list-open {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: var(--primary-color-400);
  box-shadow: none;
}

.separator-container {
  background-color: var(--structure-color-white);
  height: 0.0625rem;
  left: 0.0625rem;
  position: absolute;
  width: calc(100% - 0.125rem);
  z-index: 1000;
}

.separator {
  background-color: var(--structure-color-300);
  height: 0.0625rem;
  left: 0.5rem;
  position: absolute;
  width: calc(100% - 0.5rem * 2);
}

.suggestion-container {
  border: 0.0625rem solid var(--primary-color-400);
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: 0;
  box-shadow: 0 2rem 2rem rgba(1, 14, 40, 0.24);
  box-sizing: content-box;
  position: absolute;
  width: calc(100% - 0.125rem);
  z-index: 999;
}

.suggestion-container:hover {
  border-color: var(--primary-color-200);
}
.suggestion-item {
  background: var(--structure-color-white);
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: 1px solid var(--structure-color-200);
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.suggestion-item:hover {
  background: var(--structure-color-300);
  cursor: pointer;
}
.secondary-text {
  color: var(--structure-color-700);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
}
