@import '~@codelitt/ay-css-library/src/components/brand/fonts';
@import '~@codelitt/ay-css-library/src/components/brand/colors';

.button {
  border: 0;
  border-radius: 0.125rem;
  font-family: $font-stack;

  &.regular-size {
    font-size: 1.25rem;
    min-height: 3.5rem;
    min-width: 16rem;
    padding: 0.5rem 1.375rem;
  }

  &.small-size {
    font-size: 1rem;
    min-height: 3rem;
    min-width: 7.5rem;
    padding: 0.5rem 1rem;
  }

  &.ghost {
    min-height: 0;
    min-width: 0;
    padding: 0.25rem;
  }
}

.main {
  background-color: $ay-london-blue-color;

  &:disabled {
    background-color: $ay-grey-8-color;
    color: $ay-grey-24-color;
  }

  &:not(:disabled) {
    color: $ay-white-color;

    &:focus {
      background-color: $ay-navy-blue-color;
    }

    &:hover {
      background-color: $ay-main-blue-color;
    }
  }

  &.left-icon {
    background-image: url('../../assets/images/left-arrow.svg');
    background-repeat: no-repeat;

    &.regular-size {
      background-position: top 1.125rem left 1.25rem;
      background-size: 0.75rem;
    }

    &.small-size {
      background-position: top 1.15rem left 1rem;
      background-size: 0.5rem;
      min-width: 11.125rem;
      text-align: right;
    }
  }

  &.right-icon {
    background-image: url('../../assets/images/right-arrow.svg');
    background-repeat: no-repeat;

    &.regular-size {
      background-position: top 1.125rem right 1.375rem;
      background-size: 0.75rem;
    }

    &.small-size {
      background-position: top 1.15rem right 1rem;
      background-size: 0.5rem;
      min-width: 11.125rem;
      text-align: left;
    }
  }
}

.secondary {
  border: 1px solid $ay-london-blue-color;
  color: $ay-main-blue-color;

  &:disabled {
    border: 1px solid $ay-grey-16-color;
    color: $ay-grey-16-color;
  }

  &:not(:disabled) {
    &:focus {
      background-color: $ay-main-blue-color;
      color: $ay-white-color;
    }

    &:hover {
      background-color: $ay-london-blue-color;
      color: $ay-main-blue-color;
    }
  }

  &.left-icon,
  &.right-icon {
    background-image: url('../../assets/images/cross-icon.svg');

    &.regular-size {
      background-repeat: no-repeat;
      background-size: 1.5rem;
    }

    &.small-size {
      background-repeat: no-repeat;
      background-size: 1rem;
    }
  }

  &.left-icon {
    background-position: top 50% left 1rem;

    &.small-size {
      min-width: 11.125rem;
      padding-left: 2rem;
    }
  }

  &.right-icon {
    background-position: top 50% right 1rem;
    text-align: left;

    &.small-size {
      min-width: 11.125rem;
    }
  }
}

.ghost {
  background-color: $ay-white-color;
  border: 0;
  color: $ay-main-blue-color;

  &:disabled {
    color: $ay-grey-16-color;
  }

  &:not(:disabled) {
    &:focus {
      background-color: $ay-london-blue-color;
      color: $ay-main-blue-color;
    }

    &:hover {
      background-color: $ay-main-blue-color;
      color: $ay-white-color;
    }
  }

  &.left-icon,
  &.right-icon {
    background-image: url('../../assets/images/cross-icon.svg');
    background-repeat: no-repeat;

    &.regular-size {
      background-size: 1.25rem;
    }

    &.small-size {
      background-size: 1rem;
    }
  }

  &.left-icon {
    background-position: top 50% left 0.25rem;

    &.regular-size {
      padding-left: 2.375rem;
    }

    &.small-size {
      padding-left: 1.875rem;
      text-align: left;
    }
  }

  &.right-icon {
    background-position: top 50% right 1rem;
    text-align: right;

    &.regular-size {
      padding-right: 3rem;
    }

    &.small-size {
      padding-right: 2.5rem;
    }
  }
}

.contextual {
  border: 1px solid $ay-grey-24-color;
  color: $ay-grey-64-color;

  &:focus {
    background-color: $ay-grey-64-color;
    color: $ay-white-color;
  }

  &:hover {
    background-color: $ay-grey-80-color;
    color: $ay-white-color;
  }

  &.left-icon,
  &.right-icon {
    background-image: url('../../assets/images/cross-icon.svg');
    background-repeat: no-repeat;

    &.regular-size {
      background-size: 1.5rem;
    }

    &.small-size {
      background-size: 1rem;
    }
  }

  &.left-icon {
    background-position: top 50% left 1rem;

    &.small-size {
      min-width: 11.125rem;
      padding-left: 2rem;
    }
  }

  &.right-icon {
    background-position: top 50% right 1rem;
    text-align: left;

    &.small-size {
      min-width: 11.125rem;
    }
  }
}

.delete {
  border: 1px solid $ay-error-color;
  color: $ay-error-color;

  &:focus {
    background-color: $ay-grey-80-color;
    color: $ay-white-color;
  }

  &:hover {
    background-color: $ay-error-color;
    color: $ay-white-color;
  }

  &.left-icon,
  &.right-icon {
    background-image: url('../../assets/images/delete-icon.svg');
    background-repeat: no-repeat;

    &.regular-size {
      background-size: 1.5rem;
    }

    &.small-size {
      background-size: 1rem;
    }
  }

  &.left-icon {
    background-position: top 50% left 1rem;

    &.small-size {
      min-width: 11.125rem;
      padding-left: 2rem;
    }
  }

  &.right-icon {
    background-position: top 50% right 1rem;
    text-align: left;

    &.small-size {
      min-width: 11.125rem;
    }
  }
}

.inline {
  background-color: $ay-london-blue-color;
  height: 4rem;
  width: 100%;

  &:not(:disabled) {
    color: $ay-navy-blue-color;

    &:focus {
      background-color: $ay-navy-blue-color;
      color: $ay-white-color;
    }

    &:hover {
      background-color: $ay-main-blue-color;
      color: $ay-white-color;
    }
  }

  &.right-icon {
    background-image: url('../../assets/images/right-arrow.svg');
    background-position: top 50% right 1rem;
    background-repeat: no-repeat;
    background-size: 0.75rem;
    padding-right: 0 1rem 0 1rem;
    text-align: left;
  }
}
