@import '~@codelitt/ay-css-library/src/components/brand/fonts';
@import '~@codelitt/ay-css-library/src/components/brand/colors';

.button {
  border-radius: 0.125rem;
  border: 0;
  font-family: $font-stack;
  font-size: 1.25rem;
  height: 3.5rem;
  width: 16rem;
}

.main {
  background-color: $ay-london-blue-color;
  padding: 0.5rem 1.375rem;
  &:disabled {
    background-color: $ay-grey-8-color;
    color: $ay-grey-24-color;
  }

  &:not(:disabled):focus {
    background-color: $ay-navy-blue-color;
    color: $ay-white-color;
  }

  &:not(:disabled):hover {
    background-color: $ay-main-blue-color;
    color: $ay-white-color;
  }

  &.left {
    background-image: url(../../assets/images/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: top 1.125rem left 1.375rem;
  }

  &.right {
    background-image: url(../../assets/images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: top 1.125rem right 1.375rem;
  }
}
