@import '../../styles/theme/index.css';

.list-container {
  width: var(--list-width, 100%);
}

.list {
  align-items: center;
  background-color: var(--list-background-color, var(--structure-color-100));
  border-right: var(--list-border-right, var(--list-border, 1px solid transparent));
  border-left: var(--list-border-left, var(--list-border, 1px solid transparent));
  border-bottom: var(--list-border-bottom, var(--list-border, 1px solid transparent));
  border-top: var(--list-border-top, var(--list-border, 1px solid transparent));
  border-radius: var(--list-border-radius, 0);
  bottom: var(--list-bottom, 0);
  box-shadow: var(--list-box-shadow, none);
  box-sizing: border-box;
  display: var(--list-display, block);
  height: var(--list-height, var(--height-m));
  justify-content: space-between;
  list-style-type: var(--list-list-style-type, none);
  margin: var(--list-margin, 0);
  min-width: var(--list-min-width, var(--spacing-horizontal-xxxl));
  overflow: var(--list-overflow, initial);
  padding: var(--list-padding, 0);
  padding-inline-start: var(--list-padding-inline-start, 0);
  position: var(--list-position, initial);
  top: var(--list-top);
  width: var(--list-width, 100%);
}

.list:active {
  border-right: var(--list-border-right-active, var(--list-border-active, 1px solid var(--structure-color-200)));
  border-left: var(--list-border-left-active, var(--list-border-active, 1px solid var(--structure-color-200)));
  border-bottom: var(--list-border-bottom-active, var(--list-border-active, 1px solid var(--structure-color-200)));
  border-top: var(--list-border-top-active, var(--list-border-active, 1px solid var(--structure-color-200)));
}

.list:focus {
  border-right: var(--list-border-right-focus, var(--list-border-focus, 1px solid var(--structure-color-200)));
  border-left: var(--list-border-left-focus, var(--list-border-focus, 1px solid var(--structure-color-200)));
  border-bottom: var(--list-border-bottom-focus, var(--list-border-focus, 1px solid var(--structure-color-200)));
  border-top: var(--list-border-top-focus, var(--list-border-focus, 1px solid var(--structure-color-200)));
  outline: var(--list-outline-focus, none);
}

.list-heading-wrapper {
  border-bottom: var(--list-header-border-bottom, 1px solid transparent);
  display: flex;
  justify-content: space-between;
  margin: var(--list-header-margin, 0);
  padding: var(--list-header-padding, 0);
  width: 100%;
}

.list-label {
  color: var(--list-label-color, var(--structure-color-800));
  display: flex;
  font-family: var(--list-label-font-family, 'Inter');
  font-size: var(--list-label-font-size, var(--paragraph-l));
  font-weight: var(--list-label-font-weight, var(--paragraph-font-weight-normal));
  line-height: var(--list-label-line-height, var(--paragraph-l-line-height));
  margin: var(--list-label-margin, 0);
}

.list-select-all-wrapper {
  align-items: center;
  display: flex;
}

.list-select-all-label {
  color: var(--list-select-all-label-color, var(--structure-color-800));
  display: flex;
  font-family: var(--list-select-all-label-font-family, 'Inter');
  font-size: var(--list-select-all-label-font-size, var(--paragraph-l));
  margin: var(--list-select-all-label-margin, 0 16px 0 0);
}

.list-select-all-checkbox-wrapper {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

/* Hide the browser's default checkbox */
.list-select-all-checkbox-wrapper .list-select-all-checkbox {
  cursor: pointer;
  height: var(--list-select-all-checkbox-height, 16px);
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: var(--list-select-all-checkbox-top, -5px);
  width: var(--list-select-all-checkbox-width, 16px);
  z-index: 100;
}

/* Create a custom checkbox */
.list-select-all-custom-checkbox {
  background-color: var(--list-select-all-checkbox-background-color, var(---structure-color-white));
  border: var(--list-select-all-checkbox-border, 1px solid var(--structure-color-500));
  border-radius: var(--list-select-all-checkbox-border-radius, var(--round-m));
  height: var(--list-select-all-checkbox-height, 16px);
  left: 0;
  position: absolute;
  top: var(--list-select-all-checkbox-top, -5px);
  width: var(--list-select-all-checkbox-width, 16px);
}

/* When the checkbox is checked, add a green background */
.list-select-all-checkbox-wrapper .list-select-all-checkbox:checked ~ .list-select-all-custom-checkbox {
  background-color: var(--list-select-all-checkbox-background-color-checked, var(--success-color));
  border: var(--list-select-all-checkbox-border-checked, 1px solid transparent);
}

/* Create the list-select-all-custom-checkbox/indicator (hidden when not checked) */
.list-select-all-custom-checkbox:after {
  content: '';
  display: none;
  position: absolute;
}

/* Show the list-select-all-custom-checkbox when checked */
.list-select-all-checkbox-wrapper .list-select-all-checkbox:checked ~ .list-select-all-custom-checkbox:after {
  display: block;
}

/* Style the list-select-all-custom-checkbox/indicator */
.list-select-all-checkbox-wrapper .list-select-all-custom-checkbox:after {
  border: solid var(--list-select-all-checkbox-marker-color,white);
  border-width: 0 2px 2px 0;
  height: var(--list-select-all-checkbox-marker-height, 12px);
  left: var(--list-select-all-checkbox-marker-left, 8px);
  top: var(--list-select-all-checkbox-marker-top, 3px);
  width: var(--list-select-all-checkbox-marker-width, 6px);
  transform: rotate(45deg);

  /* height: 8px;
  left: 6px;
  top: 3px;
  width: 3px; */
}

