.custom-list {
  --list-display: flex;
  --list-background-color: var(--structure-color-white);
  --list-height: 40px;
  --list-item-background-color: var(--structure-color-white);
  --list-item-border-bottom: 1px solid var(--primary-color-300);
  --list-item-border-left: 1px solid var(--primary-color-300);
  --list-item-border-right: 1px solid var(--primary-color-300);
  --list-item-border-top: 1px solid var(--primary-color-300);
  --list-item-border-bottom-hover: 1px solid var(--primary-color-300);
  --list-item-border-left-hover: 1px solid var(--primary-color-300);
  --list-item-border-right-hover: 1px solid var(--primary-color-300);
  --list-item-border-top-hover: 1px solid var(--primary-color-300);
  --list-item-border-bottom-focus: 1px solid var(--primary-color-300);
  --list-item-border-left-focus: 1px solid var(--primary-color-300);
  --list-item-border-right-focus: 1px solid var(--primary-color-300);
  --list-item-border-top-focus: 1px solid var(--primary-color-300);
  --list-item-border-radius: 4px;
  --list-item-height: 40px;
  --list-item-margin: 0 8px 0 0;
  --list-item-min-height: 40px;
  --list-item-outline-focus: 1px solid var(--primary-color-300);
  --list-item-outline-offset-focus: 8px;
  --list-item-padding: 12px 16px;
  --list-item-radio-height: 14px;
  --list-item-radio-top: -2px;
  --list-item-radio-width: 14px;
  --list-item-radio-background-color: var(--structure-color-white);
  --list-item-radio-background-color-checked: var(--structure-color-white);
  --list-item-radio-background-color-circle: var(--structure-color-white);
  --list-item-radio-border-checked: 1px solid var(--primary-color-300);
  --list-item-radio-border-circle: 3px solid var(--primary-color-300);
  --list-item-radio-height-circle: 4px;
  --list-item-radio-width-circle: 4px;
  --list-item-radio-left-circle: 2px;
  --list-item-radio-top-circle: 2px;
  --list-item-selected-background-color: var(--primary-color-300);
}
