@import '../../styles/theme/index.css';

:root {
  --list-item-selected-border: 1px solid var(--success-color);
}

.list-container {
  width: var(--list-width, 100%);
}

.list {
  align-items: center;
  background-color: var(--list-background-color, var(--structure-color-100));
  border: var(--list-border, 1px solid transparent);
  border-radius: var(--list-border-radius, 0);
  box-shadow: var(--list-box-shadow, none);
  box-sizing: border-box;
  height: var(--list-height, var(--height-m));
  justify-content: space-between;
  list-style-type: var(--list-list-style-type, none);
  margin: var(--list-margin, 0);
  min-width: var(--list-min-width, var(--spacing-horizontal-xxxl));
  overflow: var(--list-overflow, initial);
  padding: var(--list-padding, 0);
  padding-inline-start: var(--list-padding-inline-start, 0);
  position: var(--list-position, initial);
  width: 100%;
}

.list:active {
  border: var(--list-border-active, 1px solid var(--structure-color-200));
}

.list:focus {
  border: var(--list-border-focus, 1px solid var(--structure-color-200));
  outline: var(--list-outline-focus, none);
}

.list-label {
  color: var(--list-label-color, var(--structure-color-800));
  display: flex;
  font-family: var(--list-label-font-family, 'Inter');
  font-size: var(--list-label-font-size, var(--paragraph-l));
  font-weight: var(--list-label-font-weight, var(--paragraph-font-weight-normal));
  line-height: var(--list-label-line-height, var(--paragraph-l-line-height));
  margin: var(--list-label-margin, 0);
  width: 100%;
}

.list-item--selected {
  --list-item-background-color: var(
    --list-item-selected-background-color,
    var(--structure-color-white)
  ) !important; /*@TODO: Refactor List component to accept selected without this important*/
  --list-item-border-bottom: var(
    --list-item-selected-border-bottom,
    var(--list-item-selected-border)
  );
  --list-item-border-top: var(--list-item-selected-border-top, var(--list-item-selected-border));
  --list-item-border-right: var(--list-item-selected-border-right, var(--list-item-selected-border));
  --list-item-border-left: var(--list-item-selected-border-left, var(--list-item-selected-border));
}

.list-item--selected:hover {
  --list-item-background-color-hover: var(
    --list-item-selected-background-color-hover,
    var(--list-item-selected-background-color)
  );
  --list-item-border-bottom-hover: var(
    --list-item-selected-border-bottom-hover,
    var(--list-item-selected-border-bottom)
  );
  --list-item-border-top-hover: var(--list-item-selected-border-top-hover, var(--list-item-selected-border-top));
  --list-item-border-right-hover: var(--list-item-selected-border-right-hover, var(--list-item-selected-border-right));
  --list-item-border-left-hover: var(--list-item-selected-border-left-hover, var(--list-item-selected-border-bottom));
}

.list-item--selected:focus {
  --list-item-background-color-focus: var(
    --list-item-selected-background-color-focus,
    var(--list-item-selected-background-color)
  );
  --list-item-border-bottom-focus: var(
    --list-item-selected-border-bottom-focus,
    var(--list-item-selected-border-bottom)
  );
  --list-item-border-top-focus: var(--list-item-selected-border-top-focus, var(--list-item-selected-border-top));
  --list-item-border-right-focus: var(--list-item-selected-border-right-focus, var(--list-item-selected-border-right));
  --list-item-border-left-focus: var(--list-item-selected-border-left-focus, var(--list-item-selected-border-bottom));
}

.list-item--selected:active {
  --list-item-background-color-active: var(
    --list-item-selected-background-color-active,
    var(--list-item-selected-background-color)
  );
  --list-item-border-bottom-active: var(
    --list-item-selected-border-bottom-active,
    var(--list-item-selected-border-bottom)
  );
  --list-item-border-top-active: var(--list-item-selected-border-top-active, var(--list-item-selected-border-top));
  --list-item-border-right-active: var(--list-item-selected-border-right-active, var(--list-item-selected-border-right));
  --list-item-border-left-active: var(--list-item-selected-border-left-active, var(--list-item-selected-border-bottom));
}
