@import "../../../styles/theme/index.css";

.input {
  border: var(--input-border, none);
  background: var(--input-background-color, transparent);
  box-sizing: border-box;
  width: 100%;
}

.input:active {
  border: var(--input-border-active, none);
}

.input:hover,
.input:focus {
  border: var(--input-border-hover, none);
  color: var(--input-color-hover, transparent);
}

.input::placeholder{
  color: var(--input-placeholder-color);
  font-size: var(--input-placeholder-font-size);
  font-weight: var(--input-placeholder-font-weight);
}

.input:focus {
  outline-color: var(--input-outline-color-focus);
}

.input.input--medium {
  border-radius: var(--input-medium-border-radius);
  font-size: var(--input-medium-font-size);
  font-weight: var(--input-medium-font-weight);
  height: var(--input-medium-height);
  line-height: var(--input-medium-line-height);
  padding: var(--input-medium-side-padding);
}

.input.input--large {
  border-radius: var(--input-large-border-radius);
  font-size: var(--input-large-font-size);
  font-weight: var(--input-large-font-weight);
  height: var(--input-large-height);
  line-height: var(--input-large-line-height);
  padding: var(--input-large-side-padding);
}
