@import '../../../styles/theme/index.css';

:root {
  --button-background-color: transparent;
}

.button--fixed {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.button {
  align-items: var(--button-align-items, center);
  background-color: var(--button-background-color);
  border: var(--button-border, none);
  box-shadow: var(--button-box-shadow, none);
  color: var(--button-color);
  cursor: var(--button-cursor, pointer);
  display: var(--button-display, flex);
  font-family: var(--button-font-family, 'Inter');
  justify-content: var(--button-justify-content, initial);
  margin: var(--button-margin, none);
}

.button:hover {
  background-color: var(--button-background-color-hover, var(--button-background-color));
  border: var(--button-border-hover, none);
  box-shadow: var(--button-box-shadow-hover, none);
  color: var(--button-color-hover);
  cursor: var(--button-cursor-hover, pointer);
}

.button:hover .button--append-icon {
  fill: var(--button-append-icon-color-hover, var(--button-color-hover));
}

.button:focus {
  background-color: var(--button-background-color-focus, var(--button-background-color));
  border: var(--button-border-focus, none);
  box-shadow: var(--button-box-shadow-focus, none);
  color: var(--button-color-focus);
  cursor: var(--button-cursor-focus, pointer);
  outline: none;
}

.button:focus .button--append-icon {
  fill: var(--button-append-icon-color-focus, var(--button-color-focus));
}

.button:active {
  background-color: var(--button-background-color-active, var(--button-background-color));
  border: var(--button-border-active, none);
  box-shadow: var(--button-box-shadow-active, none);
  color: var(--button-color-active);
  cursor: var(--button-cursor-active, pointer);
}

.button:active .button--append-icon {
  fill: var(--button-append-icon-color-active, var(--button-color-active));
}

.button:disabled {
  background-color: var(--button-background-color-disabled, var(--button-background-color));
  border: var(--button-border-disabled, none);
  box-shadow: var(--button-box-shadow-disabled, none);
  color: var(--button-color-disabled);
  cursor: var(--button-cursor-disabled, pointer);
}

.button:disabled .button--append-icon {
  fill: var(--button-append-icon-color-disabled, var(--button-color-disabled));
}

.button.button--large {
  border-radius: var(--button-border-radius, var(--round-m));
  font-size: var(--button-font-size, var(--paragraph-xl));
  font-weight: var(--button-font-weight, var(--paragraph-font-weight-bold));
  height: var(--button-height, var(--height-xl));
  line-height: var(--button-line-height, var(--paragraph-xl-line-height));
  padding: var(--button-padding, 0 var(--spacing-horizontal-m));
}

.button.button--medium {
  border-radius: var(--button-border-radius, var(--round-m));
  font-size: var(--button-font-size, var(--paragraph-l));
  font-weight: var(--button-font-weight, var(--paragraph-font-weight-bold));
  height: var(--button-height, var(--height-l));
  line-height: var(--button-line-height, var(--paragraph-l-line-height));
  padding: var(--button-padding, 0 var(--spacing-horizontal-m));
}

.button .button--label + .button--append-icon-container {
  margin: var(--button-append-icon-margin, 0 0 0 16px);
}

.button .button--append-icon {
  fill: var(--button-append-icon-color, var(--button-color));
}
