@import '~@codelitt/ay-css-library/src/components/brand/fonts';
@import '~@codelitt/ay-css-library/src/components/brand/colors';

.container {
  position: relative;

  .input {
    height: 3rem;
  }

  .button {
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    width: 2rem;

    &.password {
      background-image: url('../../../assets/images/open-eye.svg');
    }

    &.text {
      background-image: url('../../../assets/images/closed-eye.svg');
    }
  }
}
