.container {
  align-items: center;
  background-color: var(--dual-action-button-container-background-color, var(--structure-color-300));
  border-radius: var(--dual-action-button-container-border-radius, 4px);
  box-sizing: border-box;
  display: flex;
  height: var(--dual-action-button-container-height, auto);
  padding: var(--dual-action-button-container-padding, 4px 8px);
}

.text-container {
  align-items: center;
  background-color: var(--dual-action-button-text-container-background-color, var(--structure-color-300));
  display: flex;
  font-weight: var(--dual-action-button-text-container-font-weight, 300);
  justify-content: center;
  padding: var(--dual-action-button-text-container-padding, 0 6px);
  width: var(--dual-action-button-text-container-width, auto);
}

.button {
  --button-background-color: var(--structure-color-300);
  --button-background-color-hover: var(--structure-color-400);
  --button-background-color-focus: var(--structure-color-300);
  --button-background-color-active: var(--structure-color-400);
  --button-border-radius: 4px;
  --button-height: 50px;
  --button-width: 50px;
}
