@import '../../../styles/theme/index.css';

:root {
  --button-positive-background-color: var(--structure-color-200);
  --button-positive-background-color-active: var(--primary-color-700);
  --button-positive-background-color-disabled: var(--structure-color-200);
  --button-positive-background-color-hover: var(--primary-color-500);

  --button-positive-color: var(--primary-color-500);
  --button-positive-color-hover: var(--structure-color-white);
  --button-positive-color-active: var(--structure-color-white);
  --button-positive-color-disabled: var(--structure-color-500);
}

.button--positive {
  --button-border: none;
  --button-background-color: var(--button-positive-background-color);
  --button-color: var(--button-positive-color);

  --button-background-color-hover: var(--button-positive-background-color-hover);
  --button-color-hover: var(--button-positive-color-hover);

  --button-background-color-active: var(--button-positive-background-color-active);
  --button-color-active: var(--button-positive-color-active);

  --button-background-color-disabled: var(--button-positive-background-color-disabled);
  --button-color-disabled: var(--button-positive-color-disabled);
}
