@import '../../styles/theme/index.css';

:root {
  --button-list-selected-background-color: var(--success-color);
  --button-list-selected-border: 1px solid transparent;
  --button-list-selected-color: var(--structure-color-white);
}

.container {
  cursor: var(--button-list-cursor, default);
  display: var(--button-list-display, flex);
  flex-wrap: var(--button-list-flex-wrap, nowrap);
  justify-content: var(--button-list-justify-content, space-between);
  width: var(--button-list-width, 100%);
}

.selected {
  background-color: var(--button-list-selected-background-color);
  border: var(--button-list-selected-border);
  color: var(--button-list-selected-color);
}

.selected:hover {
  background-color: var(--button-list-selected-background-color-hover, var(--button-list-selected-background-color));
  border: var(--button-list-selected-border-hover, var(--button-list-selected-border));
  color: var(--button-list-selected-color-hover, var(--button-list-selected-color));
}

.selected:focus {
  background-color: var(--button-list-selected-background-color-focus, var(--button-list-selected-background-color));
  border: var(--button-list-selected-border-focus, var(--button-list-selected-border));
  color: var(--button-list-selected-color-focus, var(--button-list-selected-color));
}

.selected:active {
  background-color: var(--button-list-selected-background-color-active, var(--button-list-selected-background-color));
  border: var(--button-list-selected-border-active, var(--button-list-selected-border));
  color: var(--button-list-selected-color-active, var(--button-list-selected-color));
}
