@import '../../styles/theme/index.css';

.container {
  display: var(--buttons-list-display, flex);
  justify-content: var(--buttons-list-justify-content, space-between);
  width: var(--buttons-list-width, 100%);
}

.selected {
  color: var(--button-selected-color, var(--button-color-active));
  background-color: var(--button-selected-background-color, var(--button-background-color-active));
  border: var(--button-selected-border, var(--border-active));
}

.selected:hover {
  color: var(--button-selected-color-hover, var(--button-color-hover));
  background-color: var(--button-selected-background-color-hover, var(--button-background-color-hover));
  border: var(--button-selected-border-hover, var(--border-hover));
}

.selected:focus {
  color: var(--button-selected-color-focus, var(--button-color-focus));
  background-color: var(--button-selected-background-color-focus, var(--button-background-color-focus));
  border: var(--button-selected-border-focus, var(--border-focus));
}

.selected:active {
  color: var(--button-selected-color-active, var(--button-color-active));
  background-color: var(--button-selected-background-color-active, var(--button-background-color-active));
  border: var(--button-selected-border-active, var(--border-active));
}