@import '../../styles/theme/index.css';

:root {
  --button-background-color-is-active: var(--structure-color-black);
  --button-color-is-active: var(--structure-color-white);

  --editor-container-border: 1px solid var(--structure-color-black);
  --editor-container-border-focus: 1px solid var(--structure-color-black);
  --editor-container-height: 100%;
  --editor-container-width: 100%;

  --placeholder-color: var(--structure-color-600);
}

.is-active {
  background: var(--button-background-color-is-active);
  color: var(--button-color-is-active);
}

.menu-bar-container {
  align-items: var(--menu-bar-align-items, flex-start);
  background-color: var(--menu-bar-background-color, var(--structure-color-white));
  border-radius: var(--menu-bar-border-radius, 0);
  display: flex;
  flex-wrap: wrap;
  height: var(--menu-bar-height, auto);
  justify-content: var(--menu-bar-justify-content, flex-start);
  width: var(--menu-bar-width, auto);
}

.menu-bar-container-hidden {
  height: 0;
  visibility: hidden;
}

.menu-bar-container-visible {
  height: auto;
  visibility: visible;
}

.editor-container {
  border: var(--editor-container-border);
  height: var(--editor-container-height);
  width: var(--editor-container-width);
}

.editor-container:focus {
  border: var(--editor-container-border-focus);
  outline: none;
}

table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

td,
th {
  border: 2px solid var(--structure-color-400);
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}

th {
  background-color: var(--structure-color-200);
  font-weight: bold;
  text-align: left;
}

.selectedCell:after {
  background: rgba(200, 200, 255, 0.4);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
  z-index: 2;
}

.column-resize-handle {
  background-color: var(--primary-color-200);
  bottom: -2px;
  position: absolute;
  pointer-events: none;
  right: -2px;
  top: 0;
  width: 4px;
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.menu-bar-bottom-positioned {
  display: flex;
  flex-direction: column-reverse;
}

.is-editor-empty:first-child::before {
  color: var(--placeholder-color);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
