@import '../../../styles/theme/index.css';

.list-item-checkmark {
  border-radius: var(--list-item-cm-border-radius, 0);
}

.list-item-checkmark--checked {
  fill: var(--list-item-cm-color-checked, var(--success-color));
}

.list-item-checkmark--unchecked {
  fill: var(--list-item-cm-color-unchecked, var(--structure-color-100));
}

.checkmark-container {
  margin: var(--list-item-cm-margin, var(--round-m) 0 0 0);
}

.checkmark-container--large {
  height: var(--list-item-cm-height, var(--heading-s));
  width: var(--list-item-cm-width, var(--heading-s));
}

.checkmark-container--medium {
  height: var(--list-item-cm-height, var(--heading-xs));
  width: var(--list-item-cm-width, var(--heading-xs));
}
