@import '../../styles/theme/index.css';

.wrapper {
  height: var(--modal-wrapper-height, 100%);
  position: var(--modal-wrapper-position, static);
  top: var(--modal-wrapper-top, 0);
  width: var(--modal-wrapper-width, 100%);
  z-index: var(--modal-wrapper-z-index, 0);
}

.container {
  align-items: var(--modal-container-align-items, center);
  background-color: var(--modal-container-background-color, rgba(0, 0, 0, 0.1));
  display: var(--modal-container-display, flex);
  justify-content: var(--modal-container-justify-content, center);
  height: 100vh;
  margin: var(--modal-container-margin, auto);
  position: var(--modal-container-position, absolute);
  width: 100%;
  left: 0;
  top: 0;
}

.content-container {
  background-color: var(--modal-content-container-background-color, var(--structure-color-white));
  border: var(--modal-border, solid 1px black);
  border-radius: var(--modal-content-container-border-radius, 5px);
  box-shadow: var(--modal-content-container-box-shadow);
  height: var(--modal-content-container-height, auto);
  width: var(--modal-content-container-width, auto);
}
