@import '~@codelitt/ay-css-library/src/components/brand/colors';
@import '~@codelitt/ay-css-library/src/components/brand/fonts';

.textarea-input {
  border: 1px solid $ay-grey-24-color;
  box-sizing: border-box;
  color: $ay-grey-64-color;
  font-family: $font-stack;
  font-size: 1rem;
  height: 3.375rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  width: 22rem;

  &.textarea-input-error-status {
    border-color: $ay-error-color;
  }

  &.textarea-input-success-status {
    border-color: $ay-success-color;
  }
}

