@import '../../styles/theme/index.css';

.paginated-footer .paginated-table-action-btns {
  align-items: var(--paginated-table-align-items, center);
  display: var(--paginated-table-display, flex);
  justify-content: var(--paginated-table-justify-content, flex-end);
  overflow: var(--paginated-table-overflow, hidden);
}

.paginated-table-action-btns .btn-table-paginated {
  font-family: var(--paginated-table-font-family, 'Inter');
  font-size: var(--paginated-table-font-size, 14px);
  font-weight: var(--paginated-table-font-weight, 300);
  padding: var(--paginated-table-padding, 10px);
}

.number-of-pages {
  text-align: var(--paginated-table-page-number-text-align, end);
  white-space: var(--paginated-table-page-number-white-space, normal);
}

.number-of-pages:after {
  color: var(--paginated-table-separator-color, var(--structure-color-800));
  content: '|';
  margin: var(--paginated-table-separator-margin, 0 0 0 20px);
}

.number-of-pages-text {
  font-size: var(--paginated-table-page-number-text, 14px);
}

.number-of-pages-input {
  max-width: var(--paginated-table-page-input-max-width, 35px);
  display: inline-table;
  margin-right: 10px;
  --input-padding: 5px 10px;
  text-align: center;
}

.pagination-items {
  margin: var(--paginated-table-total-number-items-margin, 0);
}

.pagination-items,
.number-of-pages-text {
  font-size: var(--paginated-table-footer-font-size, 14px);
}

.pagination-items,
.number-of-pages,
.paginated-table-action-btns {
  vertical-align: baseline;
}

.paginated-table-pagination {
  margin: 0;
  padding: var(--paginated-table-pagination-padding, 0);
}

.paginated-table-pages {
  display: flex;
  align-items: center;
}

.paginated-footer-wrapper {
  display: var(--paginated-table-footer-wrapper-display, flex);
  flex-direction: var(--paginated-table-footer-wrapper-flex-direction, row);
  justify-content: space-between;
  align-items: center;
}
