@import "../../../styles/theme/index.css";

:root {
  --button-secondary-color: var(--primary-color-500);
  --button-secondary-color-disabled: var(--structure-color-500);
  --button-secondary-color-active: var(--structure-color-white);
  --button-secondary-color-hover: var(--structure-color-white);

  --button-secondary-background-color-active: var(--primary-color-700);
  --button-secondary-background-color-hover: var(--primary-color-500);

  --button-secondary-border-color: var(--primary-color-500);
  --button-secondary-border-color-disabled: var(--structure-color-500);

  --button-secondary-large-border-radius: var(--round-m);
  --button-secondary-medium-border-radius: var(--round-m);

  --button-secondary-large-height: var(--height-m);
  --button-secondary-medium-height: var(--height-m);

  --button-secondary-large-side-padding: var(--spacing-horizontal-m);
  --button-secondary-medium-side-padding: var(--spacing-horizontal-m);
}

.button {
  border: none;
  color: white;
}

.button--secondary {
  background: transparent;
  border: 1px solid var(--button-secondary-border-color);
  color: var(--button-secondary-color);
}

.button--secondary:hover,
.button--secondary:focus {
  background: var(--button-secondary-background-color-hover);
  border: none;
  color: var(--button-secondary-color-hover);
}

.button--secondary:active {
  background: var(--button-secondary-background-color-active);
  border: none;
  color: var(--button-secondary-color-active);
}

.button--secondary:disabled {
  background: transparent;
  border: 1px solid var(--button-secondary-border-color-disabled);
  color: var(--button-secondary-color-disabled);
}

.button--secondary.button--large {
  border-radius: var(--button-secondary-large-border-radius);
  height: var(--button-secondary-large-height);
  padding: 0 var(--button-secondary-large-side-padding);
}

.button--secondary.button--medium {
  border-radius: var(--button-secondary-medium-border-radius);
  height: var(--button-secondary-medium-height);
  padding: 0 var(--button-secondary-medium-side-padding);
}
