.phone-input {
  --input-color: red;
  --input-prepend-padding-left: 58px;
  --phone-input-dropdown-background-color: var(--structure-color-white);
  --phone-input-dropdown-border-radius: 3px;
  --phone-input-dropdown-margin: 4px;
}
