@import '../../../styles/theme/index.css';

.radio-container {
  cursor: pointer;
  display: block;
  margin-bottom: 12px;
  position: relative;
  padding-left: 30px;
}

.radio-container .list-item-radio {
  opacity: 0;
  position: absolute;
}

.list-item-radio-reverse {
  --list-item-flex-direction: row-reverse;
}

/* Create a custom radio button */
.radio-check {
  background-color: var(--list-item-radio-background-color, var(--structure-color-300));
  border: var(--list-item-radio-border, 1px solid var(--success-color));
  border-radius: 50%;
  left: 0;
  position: absolute;
}

.list-item-radio--large ~ .radio-check {
  height: var(--list-item-radio-height, var(--heading-s));
  top: var(--list-item-radio-top, -8px);
  width: var(--list-item-radio-width, var(--heading-s));
}

.list-item-radio--medium ~ .radio-check {
  height: var(--list-item-radio-height, var(--heading-xs));
  top: -5px;
  width: var(--list-item-radio-width, var(--heading-xs));
}

/* When the radio button is checked, add a blue background */
.radio-container .list-item-radio:checked ~ .radio-check {
  background-color: var(--list-item-radio-background-color-checked, var(--primary-color-400));
  border: var(--list-item-radio-border-checked, 1px solid transparent);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-check:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container .list-item-radio:checked ~ .radio-check:after {
  display: block;
}

/* Style the indicator (dot/circle) large size */
.radio-container .list-item-radio--large ~ .radio-check:after {
  background: var(--list-item-radio-background-color-circle, var(--structure-color-white));
  border: var(--list-item-radio-border-circle, 0);
  border-radius: 50%;
  height: var(--list-item-radio-height-circle, 12px);
  left: var(--list-item-radio-left-circle, 6px);
  top: var(--list-item-radio-top-circle, 6px);
  width: var(--list-item-radio-width-circle, 12px);
}

/* Style the indicator (dot/circle) medium size */
.radio-container .list-item-radio--medium ~ .radio-check:after {
  background: var(--list-item-radio-background-color-circle, var(--structure-color-white));
  border: var(--list-item-radio-border-circle, 0);
  border-radius: 50%;
  height: var(--list-item-radio-height-circle, 10px);
  left: var(--list-item-radio-left-circle, 5px);
  top: var(--list-item-radio-top-circle, 5px);
  width: var(--list-item-radio-width-circle, 10px);
}
