@import '../../styles/theme/index.css';

.custom-toggle {
  --toggle-wrapper-background-color: blue;
  --toggle-active-btn-background-color: lightblue;
  --toggle-color-active: white;
  --toggle-color-hover: red;
  --toggle-color: purple;
  --toggle-background-color-hover: yellow;
  --toggle-background-color-active: green;
}
