@import '../../styles/theme/index.css';

.table-container {
  background-color: var(--table-background-color,var(--structure-color-100));
  border-bottom: var(--table-border-bottom, 1px solid var(--structure-color-300));
  border-left: var(--table-border-left, none);
  border-radius: var(--table-border-radius, var(--round-m));
  border-right: var(--table-border-right, none);
  border-top: var(--table-border-top, 1px solid var(--structure-color-300));
  width: var(--table-width, 100%);
  color: var(--table-color, var(--structure-color-800));
  font-family: var(--table-font-family, 'Inter');
  border-collapse: var(--table-container-border-colapse, separate);
  border-spacing: var(--table-container-border-spacing, 0);
  box-sizing: var(--table-container-box-sizing, border-box);
  font-size: var(--table-container-font-size, 14px);
  overflow: var(--table-container-overflow, hidden);
}

.table-container th {
  background-color: var(--table-header-background-color, var(--structure-color-200));
  border-bottom: var(--table-border-bottom, 1px solid var(--structure-color-300));
  border-bottom-style: var(--table-border-bottom-style, none);
  border-left: var(--table-border-left, none);
  border-right: var(--table-border-right, none);
  border-top: var(--table-border-top, 1px solid var(--structure-color-300));
  color: var(--table-header-color, var(--structure-color-900));
  font-weight: var(--table-header-font-weight, 300);
  padding: var(--table-padding, 10px);
}

.table-container td {
  background-color: var(--table-background-color, var(--structure-color-200));
  border-bottom: var(--table-border-bottom, 1px solid var(--structure-color-300));
  border-left: var(--table-border-left, none);
  border-right: var(--table-border-right, none);
  border-top: var(--table-border-top, 1px solid var(--structure-color-300));
  font-weight: var(--table-font-weight, 300);
  padding: var(--table-padding, 10px);
  vertical-align: var(--table-container-cell-vertical-align, middle);
}

.table-container tfoot td {
  background-color: var(--table-footer-background-color, var(--structure-color-200));
}

.table-container tr:focus td {
  background-color: var(--table-row-background-color-focus, var(--structure-color-400));
}

.clickable-row {
  cursor: var(--table-clickable-row-cursor, pointer);
}
