@import '../../styles/theme/index.css';
:root {
  --table-background-color: var(--structure-color-100);
  --table-header-background-color: var(--structure-color-200);
  --table-body-background-color: var(--structure-color-100);
  --table-font-family: 'Inter';
  --table-border: 1px solid var(--structure-color-300);
  --table-border-bottom: 1px solid var(--structure-color-300);
  --table-border-left: none;
  --table-border-right: none;
  --table-border-top: 1px solid var(--structure-color-300);
  --table-width: 100%;
  --table-color: var(--structure-color-800);
  --table-header-color: var(--structure-color-900);
  --table-font-family: 'Inter';
  --table-font-weight: 100;
  --table-header-font-weight: 300;
  --table-padding: 10px;
}
.table-container {
  background-color: var(--table-background-color);
  border-bottom: var(--table-border-bottom);
  border-left: var(--table-border-left);
  border-radius: var(--table-border-radius, var(--round-m));
  border-right: var(--table-border-right);
  border-top: var(--table-border-top);
  width: var(--table-width);
  color: var(--table-color);
  font-family: var(--table-font-family);
}

.table-container th {
  background-color: var(--table-header-background-color);
  border-bottom: var(--table-border-bottom);
  border-left: var(--table-border-left);
  border-right: var(--table-border-right);
  border-top: var(--table-border-top);
  color: var(--table-header-color);
  font-weight: var(--table-header-font-weight);
  padding: var(--table-padding);
}

.table-container td {
  background-color: var(--table-header-background-color);
  border-bottom: var(--table-border-bottom);
  border-left: var(--table-border-left);
  border-right: var(--table-border-right);
  border-top: var(--table-border-top);
  font-weight: var(--table-font-weight);
  padding: var(--table-padding);
}

.clickable-row {
  cursor: var(--table-clickable-row-cursor, pointer);
}
