@import '~@codelitt/ay-css-library/src/components/brand/grid';
@import '../Sidebar.module';

.with-sidebar {
  padding-left: $menu-width-desktop;
}

@media screen and (min-width: $view-width-tablet-min + 0.05rem) and (max-width: $view-width-desktop-min) {
  .with-sidebar {
    padding-left: $menu-width-tablet;
  }
}

@media screen and (max-width: $view-width-tablet-min) {
  .with-sidebar {
    padding-left: 0;
    padding-top: $menu-height-phones;
  }
}
