@import '../../styles/theme/index.css';

.toggle-span span {
  z-index: var(--toggle-span-z-index, 1);
}

.toggle-input {
  visibility: hidden;
  position: absolute;
}

.toggle-wrapper {
  width: 100%;
  height: var(--button-height);
  padding: var(--toggle-padding, 10px);
  background-color: var(--toggle-wrapper-background-color, var(--structure-color-200));
  border-radius: var(--toggle-wrapper-border-radius, 3px);
}

.toggle {
  width: var(--toggle-width, 100%);
  height: var(--button-height);
  display: var(--toggle-display, flex);
  background-color: var(--toggle-background-color, var(--structure-color-200));
  position: var(--toggle-position, relative);
}
/*[data-number-of-items]*/
.toggle-active-btn {
  position: var(--toggle-active-btn-position, absolute);
  background-color: var(--toggle-active-background-color, var(--structure-color-white));
  box-shadow: var(--toggle-active-btn-box-shadow, 0 2px 15px rgb(0 0 0 / 15%));
  transition: var(
    --toggle-active-btn-transition,
    transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
  );
  border-radius: var(--toggle-border-radius, 3px);
  cursor: var(--toggle-active-btn-cursor, pointer);
  display: var(--toggle-active-btn-display, block);
  height: var(--toggle-height, 50px);
  z-index: var(--toggle-active-btn-z-index, 1);
}

.toggle-active-btn[data-active-item='false'] {
  transform: var(--toggle-button-transform, translateX(50%));
}

button[category='neutral']:hover {
  background-color: var(--toggle-background-color-hover);
}

button[category='neutral']:active,
button[category='neutral']:focus {
  background-color: var(--toggle-background-color-active, var(--structure-color-400));
}

button[category='neutral'] {
  background-color: var(--toggle-background-color, var(--structure-color-200));
  transition: var(--toggle-button-transition, all 0.5s ease);
}

.toggle-label {
  height: var(--toggle-label-height, 100%);
  position: var(--toggle-label-position, relative);
  display: var(--toggle-label-display, flex);
  flex-direction: var(--toggle-label-flex-direction, column);
  align-items: var(--toggle-label-align-items, center);
  margin: var(--toggle-label-margin);
}

.toggle-label[data-active='false'] button {
  color: var(--toggle-color, var(--structure-color-600));
}

.toggle-label[data-active='false'] button:hover {
  color: var(--toggle-color-hover, var(--structure-color-600));
}

.toggle-label[data-active='true'] button,
.toggle-label[data-active='true'] button:hover {
  color: var(--toggle-active-color, var(--primary-color-900));
}
