@import '../../../styles/theme/index.css';

.list-item {
  background-color: var(--list-item-background-color, var(--structure-color-white));
  align-items: var(--list-item-align-items, center);
  border-radius: var(--list-item-border-radius, 0);
  box-sizing: border-box;
  color: var(--list-item-color, var(--structure-color-700));
  cursor: var(--list-item-cursor, pointer);
  display: inline-flex;
  height: 100%;
  justify-content: var(--list-item-justify-content, space-between);
  padding: var(--list-item-padding, var(--round-m));
  min-height: var(--list-item-min-height, 50px);
  width: 100%;
  border-bottom: var(--list-item-border-bottom, 1px solid transparent);
  border-top: var(--list-item-border-top, 1px solid transparent);
  border-right: var(--list-item-border-right, 1px solid transparent);
  border-left: var(--list-item-border-left, 1px solid transparent);
}

.list-item-span {
  text-align: var(--list-item-span-text-align, left);
  width: var(--list-item-span-width, 100%);
  display: var(--list-item-span-display, inline-block);
  margin: var(--list-item-span-margin, 0);
}

.list-item-span--medium {
  font-size: var(--list-item-medium-font-size, var(--paragraph-m));
  font-weight: var(--list-item-medium-font-weight, var(--paragraph-font-weight-normal));
  line-height: var(--list-item-medium-line-height, var(--paragraph-s-line-height));
}

.list-item-span--large {
  font-size: var(--list-item-large-font-size, var(--paragraph-xl));
  font-weight: var(--list-item-large-font-weight, var(--paragraph-font-weight-normal));
  line-height: var(--list-item-large-line-height, var(--paragraph-m-line-height));
}

.list-item-div-icon {
  filter: var(--list-item-icon-filter, brightness(0.2));
  margin: var(--list-item-icon-margin, var(--round-m) 0 0 0);
}

.list-item:hover {
  background-color: var(--list-item-background-color-hover, var(--structure-color-100));
  color: var(--list-item-color-hover, var(--structure-color-800));
  font-weight: var(--list-item-font-weight-hover, var(--paragraph-font-weight-bold));
  border-bottom: var(--list-item-border-bottom-hover, 1px solid transparent);
  border-top: var(--list-item-border-top-hover, 1px solid transparent);
  border-right: var(--list-item-border-right-hover, 1px solid transparent);
  border-left: var(--list-item-border-left-hover, 1px solid transparent);
}

.list-item:focus {
  outline-color: var(--list-item-outline-color, initial);
}

.list-item:hover > .list-item-span {
  color: var(--list-item-span-color-hover, var(--structure-color-800));
}

.list-item:hover
  > .list-item-selected-marker:last-child
  > div:last-child
  > input[type='checkbox']:not(:checked)
  ~ span {
  background-color: var(--list-item-checkbox-background-color-hover, var(--structure-color-white));
  border: var(--list-item-checkbox-border-hover, 1px solid var(--structure-color-700));
}

.list-item:hover
  > .list-item-selected-marker:last-child
  > div:last-child
  > input[type='radio']:not(:checked)
  ~ span {
  background-color: var(--list-item-radio-background-color-hover, var(--structure-color-white));
}

.list-item:active {
  background-color: var(--list-item-background-color-pressed, var(--primary-color-500));
  color: var(--list-item-color-pressed, var(--structure-color-700));
  font-weight: var(--list-item-font-weight-hover);
  border: var(--list-item-border-active, 1px solid var(--success-color));
}

.list-item:active > .list-item-span {
  color: var(--list-item-span-color-pressed, var(--structure-color-white));
}

.list-item:active > .list-item-div-icon {
  filter: var(--list-item-icon-filter-focus, brightness(0) invert(1));
}

.list-item:hover > .list-item-selected-marker:last-child > div:last-child > svg {
  fill: var(--list-item-checkmark-color-hover, var(--structure-color-600));
}

.list-item:active > .list-item-selected-marker:last-child > div:last-child > svg {
  fill: var(--list-item-checkmark-color-pressed, var(--structure-color-white));
}

.div-hidden {
  display: none;
}
