@import '../../../styles/theme/index.css';

:root {
  --list-item-selected-background-color: var(--structure-color-white);
  --list-item-selected-border: 1px solid var(--success-color);
  --list-item-selected-border-bottom: var(--list-item-selected-border);
  --list-item-selected-border-top: var(--list-item-selected-border);
  --list-item-selected-border-right: var(--list-item-selected-border);
  --list-item-selected-border-left: var(--list-item-selected-border);
}

.list-item {
  align-items: var(--list-item-align-items, center);
  background-color: var(--list-item-background-color, var(--structure-color-white));
  border-radius: var(--list-item-border-radius, 0);
  border-bottom: var(--list-item-border-bottom, 1px solid transparent);
  border-top: var(--list-item-border-top, 1px solid transparent);
  border-right: var(--list-item-border-right, 1px solid transparent);
  border-left: var(--list-item-border-left, 1px solid transparent);
  box-shadow: var(--list-item-box-shadow, 0px 4px 10px rgba(232, 238, 252, 0.7));
  box-sizing: border-box;
  cursor: var(--list-item-cursor, pointer);
  color: var(--list-item-color);
  display: var(--list-item-display, inline-flex);
  font-weight: var(--list-item-font-weight);
  flex-direction: var(--list-item-flex-direction, row);
  height: var(--list-item-height, 100%);
  justify-content: var(--list-item-justify-content, space-between);
  margin: var(--list-item-margin, 0 0 var(--round-l) 0);
  min-height: var(--list-item-min-height, 50px);
  padding: var(--list-item-padding, var(--round-m));
  width: 100%;
}

.list-item:hover {
  background-color: var(--list-item-background-color-hover, var(--structure-color-100));
  border-bottom: var(--list-item-border-bottom-hover, 1px solid transparent);
  border-top: var(--list-item-border-top-hover, 1px solid transparent);
  border-right: var(--list-item-border-right-hover, 1px solid transparent);
  border-left: var(--list-item-border-left-hover, 1px solid transparent);
  color: var(--list-item-color-hover, var(--list-item-color));
  font-weight: var(--list-item-font-weight-hover, var(--list-item-font-weight));
}

.list-item:active {
  background-color: var(--list-item-background-color-active, var(--primary-color-500));
  border-bottom: var(--list-item-border-bottom-active, 1px solid var(--success-color));
  border-top: var(--list-item-border-top-active, 1px solid var(--success-color));
  border-right: var(--list-item-border-right-active, 1px solid var(--success-color));
  border-left: var(--list-item-border-left-active, 1px solid var(--success-color));
  color: var(--list-item-color-active, var(--list-item-color));
  font-weight: var(--list-item-font-weight-active, var(--list-item-font-weight));
}

.list-item:focus {
  background-color: var(--list-item-background-color-focus, var(--primary-color-500));
  border-bottom: var(
    --list-item-border-bottom-focus,
    var(--list-item-border-bottom, 1px solid transparent)
  );
  border-top: var(--list-item-border-top-focus, var(--list-item-border-top, 1px solid transparent));
  border-right: var(
    --list-item-border-right-focus,
    var(--list-item-border-right, 1px solid transparent)
  );
  border-left: var(
    --list-item-border-left-focus,
    var(--list-item-border-left, 1px solid transparent)
  );
  color: var(--list-item-color-focus, var(--list-item-color));
  font-weight: var(--list-item-font-weight-focus, var(--list-item-font-weight));
  outline: var(--list-item-outline-focus, none);
}

.list-item-label {
  color: var(--list-item-label-color, var(--structure-color-700));
  display: flex;
  font-family: var(--list-item-label-font-family, 'Inter');
  margin: var(--list-item-label-margin, 0 0 0 var(--round-xl));
  text-align: var(--list-item-label-text-align, left);
  width: 100%;
}

.list-item-label--medium {
  font-size: var(--list-item-label-font-size, var(--paragraph-m));
  font-weight: var(--list-item-label-font-weight, var(--paragraph-font-weight-normal));
  line-height: var(--list-item-label-line-height, var(--paragraph-s-line-height));
}

.list-item-label--large {
  font-size: var(--list-item-label-font-size, var(--paragraph-xl));
  font-weight: var(--list-item-label-font-weight, var(--paragraph-font-weight-normal));
  line-height: var(--list-item-label-line-height, var(--paragraph-m-line-height));
}

.list-item:hover > .list-item-label {
  color: var(--list-item-label-color-hover, var(--structure-color-800));
}

.list-item:active > .list-item-label {
  color: var(--list-item-label-color-active, var(--structure-color-white));
}

.list-item-icon {
  color: var(--list-item-icon-color, var(--structure-color-900));
  fill: var(--list-item-icon-fill, var(--structure-color-white));
  margin: var(--list-item-icon-margin, var(--round-m) 0 0 0);
}

.list-item:hover > .list-item-icon {
  color: var(--list-item-icon-color-hover, var(--structure-color-900));
  fill: var(--list-item-icon-fill-hover, var(--structure-color-white));
}

.list-item:active > .list-item-icon {
  color: var(--list-item-icon-color-active, var(--structure-color-white));
  fill: var(--list-item-icon-fill-active, transparent);
}
.list-item:hover
  > .list-item-selected-marker:last-child
  > div:last-child
  > input[type='checkbox']:not(:checked)
  ~ span {
  background-color: var(--list-item-checkbox-background-color-hover, var(--structure-color-white));
  border: var(--list-item-checkbox-border-hover, 1px solid var(--structure-color-700));
}

.list-item:hover
  > .list-item-selected-marker:last-child
  > div:last-child
  > input[type='radio']:not(:checked)
  ~ span {
  background-color: var(--list-item-radio-background-color-hover, var(--structure-color-white));
  border: var(--list-item-radio-border-hover, 1px solid var(--structure-color-700));
}

.list-item:hover > .list-item-selected-marker:last-child > div:last-child > svg {
  fill: var(--list-item-checkmark-color-hover, var(--structure-color-600));
}

.list-item:active > .list-item-selected-marker:last-child > div:last-child > svg {
  fill: var(--list-item-checkmark-color-active, var(--structure-color-white));
}

.div-hidden {
  display: none;
}

.list-item-selected {
  background-color: var(--list-item-selected-background-color);
  border-bottom: var(--list-item-selected-border-bottom);
  border-top: var(--list-item-selected-border-top);
  border-right: var(--list-item-selected-border-right);
  border-left: var(--list-item-selected-border-left);
  color: var(--list-item-selected-color);
  font-size: var(--list-item-selected-font-size);
  font-weight: var(--list-item-selected-font-weight);
}

.list-item-selected:hover {
  background-color: var(
    --list-item-selected-background-color-hover,
    var(--list-item-selected-background-color)
  );
  border-bottom: var(
    --list-item-selected-border-bottom-hover,
    var(--list-item-selected-border-bottom)
  );
  border-top: var(--list-item-selected-border-top-hover, var(--list-item-selected-border-top));
  border-right: var(
    --list-item-selected-border-right-hover,
    var(--list-item-selected-border-right)
  );
  border-left: var(--list-item-selected-border-left-hover, var(--list-item-selected-border-left));
  color: var(--list-item-selected-color-hover, var(--list-item-selected-color));
  font-size: var(--list-item-selected-font-size-hover, var(--list-item-selected-font-size));
  font-weight: var(--list-item-selected-font-weight-hover, var(--list-item-selected-font-weight));
}

.list-item-selected:focus {
  background-color: var(
    --list-item-selected-background-color-focus,
    var(--list-item-selected-background-color)
  );
  border-bottom: var(
    --list-item-selected-border-bottom-focus,
    var(--list-item-selected-border-bottom)
  );
  border-top: var(--list-item-selected-border-top-focus, var(--list-item-selected-border-top));
  border-right: var(
    --list-item-selected-border-right-focus,
    var(--list-item-selected-border-right)
  );
  border-left: var(--list-item-selected-border-left-focus, var(--list-item-selected-border-left));
  color: var(--list-item-selected-color-focus, var(--list-item-selected-color));
  font-size: var(--list-item-selected-font-size-focus, var(--list-item-selected-font-size));
  font-weight: var(--list-item-selected-font-weight-focus, var(--list-item-selected-font-weight));
}

.list-item-selected:active {
  background-color: var(
    --list-item-selected-background-color-active,
    var(--list-item-selected-background-color)
  );
  border-bottom: var(
    --list-item-selected-border-bottom-active,
    var(--list-item-selected-border-bottom)
  );
  border-top: var(--list-item-selected-border-top-active, var(--list-item-selected-border-top));
  border-right: var(
    --list-item-selected-border-right-active,
    var(--list-item-selected-border-right)
  );
  border-left: var(--list-item-selected-border-left-active, var(--list-item-selected-border-left));
  color: var(--list-item-selected-color-active, var(--list-item-selected-color));
  font-size: var(--list-item-selected-font-size-active, var(--list-item-selected-font-size));
  font-weight: var(--list-item-selected-font-weight-active, var(--list-item-selected-font-weight));
}
