@import "../../../styles/theme/index.css";

:root {
  --list-item-background-color-hover: var(--structure-color-100);

  --list-item-border: 1px solid transparent;
  --list-item-border-radius: var(--round-m);
  --list-item-padding: var(--round-m);

  --list-item-cursor: pointer;

  --list-item-color: var(--structure-color-700);
  --list-item-color-hover: var(--structure-color-800);
  --list-item-color-active: var(--structure-color-700);
  --list-item-color-disabled: var(--structure-color-500);
  --list-item-color-pressed: var(--structure-color-white);

  --list-item-large-font-size: var(--paragraph-xl);
  --list-item-large-font-weight: var(--paragraph-font-weight-normal);
  --list-item-large-line-height: var(--paragraph-m-line-height);

  --list-item-medium-font-size: var(--paragraph-m);
  --list-item-medium-font-weight: var(--paragraph-font-weight-normal);
  --list-item-medium-line-height: var(--paragraph-s-line-height);

  --list-item-border-hover: 1px solid var(--structure-color-600);
  --list-item-font-weight-hover: var(--paragraph-font-weight-bold);

  --list-item-border-active: 1px solid var(--success-color);
  --list-item-background-color-pressed: var(--primary-color-500);

  /* Span attributes */
  --list-item-span-hover: var(--primary-color-600);
  --list-item-span-text-align: left;
  --list-item-span-width: 80%;

  /* Icon div attributes */
  --list-item-icon-filter: brightness(0.2);
  --list-item-icon-filter-focus: brightness(0) invert(1);
  --list-item-icon-margin: var(--round-m) 0 0 0;

  /* CheckBox attributes */
  --list-item-checkbox-background-color-hover: var(--structure-color-500);

  /* RadioButton attributes */
  --list-item-radio-background-color-hover: var(--structure-color-white);
}

.list-item {
  border: var(--list-item-border);
  color: var(--list-item-color);
  cursor: var(--list-item-cursor);
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: var(--list-item-padding);
  border-radius: var(--list-item-border-radius);
  height: 100%;
}

.list-item--span-medium {
  font-size: var(--list-item-medium-font-size);
  font-weight: var(--list-item-medium-font-weight);
  line-height: var(--list-item-medium-line-height);
}

.list-item--span-large {
  font-size: var(--list-item-large-font-size);
  font-weight: var(--list-item-large-font-weight);
  line-height: var(--list-item-large-line-height);
}

.list-item:hover {
  border-bottom: var(--list-item-border-hover);
  color: var(--list-item-color-hover);
  font-weight: var(--list-item-font-weight-hover);
}

.list-item:active {
  border-bottom: var(--list-item-border-active);
  color: var(--list-item-color-active);
  font-weight: var(--list-item-font-weight-hover);
}

.list-item:focus {
  background-color: var(--list-item-background-color-pressed);
  color: var(--list-item-color-pressed);
  font-weight: var(--list-item-font-weight-hover);
}

.list-item:hover > .list-item-span {
  color: var(--list-item-span-hover);
}

.list-item-span:hover {
  cursor: var(--list-item-cursor);
}

.list-item-span {
  text-align: var(--list-item-span-text-align);
  width: var(--list-item-span-width);
}

.list-item-div-icon {
  filter: var(--list-item-icon-filter);
  margin: var(--list-item-icon-margin);
}

.list-item:focus > .list-item-div-icon {
  filter: var(--list-item-icon-filter-focus);
}

.list-item:hover > .list-item-selected-marker:last-child > div:last-child > input[type=checkbox]:not(:checked) ~ span {
  background-color: var(--list-item-checkbox-background-color-hover);
}

.list-item:hover > .list-item-selected-marker:last-child > div:last-child > input[type=radio]:not(:checked) ~ span {
  background-color: var(--list-item-radio-background-color-hover);
}
