@import "../../../styles/theme/index.css";

:root {
  --input-simple-background-color: var(--structure-color-100);

  --input-simple-large-border-radius: var(--round-m);
  --input-simple-medium-border-radius: var(--round-m);

  --input-simple-large-font-size: var(--paragraph-xl);
  --input-simple-large-font-weight: var(--paragraph-font-weight-bold);
  --input-simple-large-line-height: var(--paragraph-xl-line-height);

  --input-simple-medium-font-size: var(--paragraph-m);
  --input-simple-medium-font-weight: var(--paragraph-font-weight-bold);
  --input-simple-medium-line-height: var(--paragraph-m-line-height);

  --input-simple-large-height: var(--height-l);
  --input-simple-medium-height: var(--height-m);

  --input-simple-large-side-padding: var(--spacing-horizontal-m);
  --input-simple-medium-side-padding: var(--spacing-horizontal-m);

  --input-simple-border: 1px solid var(--structure-color-300);
  --input-simple-border-active: 1px solid var(--primary-color-500);
  --input-simple-border-hover: 1px solid var(--primary-color-300);

  --input-simple-color: var(--structure-color-700);
  --input-simple-color-hover: var(--structure-color-900);

  --input-simple--outline-color-focus: var(--primary-color-300);

  --input-simple-placeholder-color: var(--structure-color-700);
  --input-simple-placeholder-font-size: var(--paragraph-xl);
  --input-simple-placeholder-font-weigth: var(--paragraph-font-weight-normal);
}

.input--simple {
  --input-background-color: var(--input-simple-background-color);
  --input-outline-color-focus: var(--input-simple--outline-color-focus);

  --input-color: var(--input-simple-color);
  --input-color-hover: var(--input-simple-color-hover);

  --input-placeholder-color: var(--input-simple-placeholder-color);
  --input-placeholder-font-size: var(--input-simple-placeholder-font-size);
  --input-placeholder-font-weight: var(--input-simple-placeholder-font-size);

  --input-border: var(--input-simple-border);
  --input-border-active: var(--input-simple-border-active);
  --input-border-hover: var(--input-simple-border-hover);

  --input-large-border-radius: var(--input-simple-large-border-radius);
  --input-large-font-size: var(--input-simple-large-font-size);
  --input-large-font-weight: var(--input-simple-large-font-weight);
  --input-large-height: var(--input-simple-large-height);
  --input-large-line-height: var(--input-simple-large-line-height);
  --input-large-side-padding: 0 var(--input-simple-large-side-padding);

  --input-medium-border-radius: var(--input-simple-medium-border-radius);
  --input-medium-font-size: var(--input-simple-medium-font-size);
  --input-medium-font-weight: var(--input-simple-medium-font-weight);
  --input-medium-height: var(--input-simple-medium-height);
  --input-medium-line-height: var(--input-simple-medium-line-height);
  --input-medium-side-padding: 0 var(--input-simple-medium-side-padding);
}
